<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <title>Fluid Simulation</title>
</head>
<body>
  <canvas id="c"></canvas>
  
  <nav>
    <section class="radio">
      <p>Render type</p>
      <div>
        <input type="radio" value="velocity" id="velocity" name="renderType">
        <label for="velocity">Velocity</label>
      </div>
      <div>
        <input type="radio" value="none" id="none" name="renderType">
        <label for="none">Normal</label>
      </div>
    </section>

    <section class="radio">
      <p>Post processing effect</p>
      <div>
        <input type="radio" value="pixelize" id="pixelize" name="renderType">
        <label for="pixelize">Pixelize</label>
      </div>
      <div>
        <input type="radio" value="grid" id="grid" name="renderType">
        <label for="grid">Grid flow</label>
      </div>
      <div>
        <input type="radio" value="square" id="square" name="renderType">
        <label for="square">Square flow</label>
      </div>
      <div>
        <input type="radio" value="blur" id="blur" name="renderType">
        <label for="blur">Reflections</label>
      </div>
    </section>

    <button id="close">✕</button>

  </nav>
  <button id="open">☰</button>
</body>
</html>
